/* 전체적인 기본값 */

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

body {
  max-width: 1728px;
  margin: 0 auto;
  font-family: 'Dongle', sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}
